<div class="sandboxInputDiagram">
  <div class="diagramArrow"></div>
  <div class="diagramArrowHead"></div>
  <div class="marbleLocation">
    <app-marble-line></app-marble-line>
    <div class="marbleRoot diagramMarble"
         *ngFor="let value of values; let i = index"
         [style.left.%]="value.percentage"
         (click)="marbleClicked(value)">
      <svg viewBox="0 0 1 1">
        <circle cx="0.5" cy="0.5" r="0.47" stroke-width="0.06px"
                *ngIf="isNextEvent(value.type)"
                [class.selected]="isValueSelected(value)"></circle>
        <line *ngIf="isCompleteEvent(value.type)"
          class="end-marker" x1="0.5" x2="0.5" y1="1.3" y2="-0.3" style="stroke: black; stroke-width: 0.08; cursor: ew-resize;"></line>
      </svg>
      <!--<div *ngIf="isCompleteEvent(value.type)"-->
           <!--class="completionInner"-->
           <!--style="width: 2px; height: 50%; margin-left: calc(7px); margin-top: calc(11px); background-color: rgb(50, 50, 50);"></div>-->
      <p *ngIf="!isCompleteEvent(value.type)"
        class="marbleContent">{{i}}</p>
    </div>
  </div>
</div>
