/* You can add global styles to this file, and also import other style files */
body{
  margin:0;
  font-family: Roboto, Ubuntu, Arial, sans-serif;
  font-size: 12px;
}

.sandboxRoot {
  background: rgb(255, 255, 255);
  width: 820px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px 1px 2px 1px;
}

.sandboxInputDiagram {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: visible;
  display: block;
  width: 100%;
  height: calc(80px);
  position: relative;
  cursor: default;
}

.sandboxOutputDiagram {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: visible;
  display: block;
  width: 100%;
  height: calc(80px);
  position: relative;
  cursor: default;
}

.diagramArrow {
  background-color: rgb(50, 50, 50);
  height: 2px;
  position: absolute;
  top: calc(40px);
  left: 22px;
  right: 22px;
}

.diagramArrowHead {
  width: 0px;
  height: 0px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: calc(16px) solid rgb(50, 50, 50);
  display: inline-block;
  right: calc(21px);
  position: absolute;
  top: calc(33px);
}

.marbleLocation {
  position: absolute;
  left: calc(70px);
  right: calc(70px);
  top: calc(40px);
  height: 44px;
  margin-top: calc(-22px);
}

.marbleContent {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0px;
  top: 0px;
  text-align: center;
  line-height: 32px;
}
