.main {
  display: flex;
  flex-direction: row;
}

.list {
  display: block;
  width: 20%;
  max-width: 20%;
}

ul {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
}

li {
  padding: 10px 15px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.item {
  width: 40%;
  max-width: 50%;
  font-size: 150%;
  overflow-x: scroll;
}

.item-value {
  display: block;
}
