<div class="content">
  <h1>
    Rx devtools
  </h1>

  <h3>Operators used</h3>
  <div *ngFor="let operator of operators2">
    <table>
      <tr>
        <th>Operator</th>
        <th>Values</th>
      </tr>
      <tr>
        <td>{{operator.operatorId.substring(0, operator.operatorId.indexOf("-"))}}</td>
        <td>{{operator.values.length}}</td>
      </tr>
    </table>


    <h3>{{operator.operatorId.substring(0, operator.operatorId.indexOf("-"))}}</h3>
    <table>
      <tr>
        <th>Time</th>
        <th>Value</th>
      </tr>
      <tr *ngFor="let value of operator.values">
        <td>{{value.time}}</td>
        <td>{{value.value}}</td>
      </tr>
    </table>
  </div>
</div>

<button type="button" (click)="createASCIIInComponent()">Create ASCII (table will dissapear)</button>
<span *ngFor="let entry of operators | keys">
  Key: {{entry.key}}, value: {{entry.value}}
</span>
<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
  <circle cx="10" cy="10" r="5"/>
</svg>
