<div class="main">
  <div class="sandboxRoot item">
    <div *ngFor="let observable of observables2 | keys">
      <div *ngFor="let operator of observable.value.operators">
        <app-operator [name]="operator.operatorName"></app-operator>
        <app-marble-diagram (valueSelected)="this.valueSelected = $event"
                            [values]="operator.values"></app-marble-diagram>
      </div>
    </div>
  </div>

  <div class="item item-value">
    <pre>
      {{valueSelected | prettyprint}}
    </pre>
  </div>
</div>
