<!--<div class="content">-->
<!--<h1>-->
<!--Rx devtools-->
<!--</h1>-->

<!--<h3>Operators used</h3>-->
<!--<div *ngFor="let operatorobservables2ors2">-->
<!--<table>-->
<!--<tr>-->
<!--<th>Operator</th>-->
<!--<th>Values</th>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>{{operator.operatorId.substring(0, operator.operatorId.indexOf("-"))}}</td>-->
<!--<td>{{operator.values.length}}</td>-->
<!--</tr>-->
<!--</table>-->


<!--<h3>{{operator.operatorId.substring(0, operator.operatorId.indexOf("-"))}}</h3>-->
<!--<table>-->
<!--<tr>-->
<!--<th>Time</th>-->
<!--<th>Value</th>-->
<!--</tr>-->
<!--<tr *ngFor="let value of operator.values">-->
<!--<td>{{value.time}}</td>-->
<!--<td>{{value.value}}</td>-->
<!--</tr>-->
<!--</table>-->
<!--</div>-->
<!--</div>-->

<button type="button" (click)="createASCIIInComponent()">Create ASCII (table will dissapear)</button>
<div *ngFor="let observableEntry of observables2 | keys; let i = index;">
  Observable {{i}}
  <br/>
  Operator:
  <div *ngFor="let operator of observableEntry.value.operators">
    {{operator.operatorName}}

    <div *ngFor="let value of operator.values">
      {{value.value | json}}

    </div>
  </div>
</div>

<div class="sandboxRoot">
  <div class="sandboxInputDiagram">
    <div class="diagramArrow"></div>
    <div class="diagramArrowHead"></div>
    <div class="marbleLocation">
      <div class="completionRoot diagramCompletion "
           style="left: 100%; display: inline-block; position: relative; width: calc(16px); height: 44px; margin: 0px calc(-8px); cursor: ew-resize;">
        <div class="completionInner"
             style="width: 2px; height: 50%; margin-left: calc(7px); margin-top: calc(11px); background-color: rgb(50, 50, 50);"></div>
      </div>
      <app-marble [left]="2" [value]="20"></app-marble>
      <!--<div class="marbleRoot diagramMarble " data-marble-id="9269"-->
           <!--style="display: inline-block; left: 2%; position: relative; cursor: ew-resize; width: 32px; height: 32px; bottom: calc((100% - 32px) / 2); margin: calc(-16px); z-index: 1;">-->
        <!--<svg viewBox="0 0 1 1" style="overflow: visible; width: 32px; height: 32px;">-->
          <!--<circle cx="0.5" cy="0.5" r="0.47" stroke-width="0.06px"-->
                  <!--style="stroke: rgb(50, 50, 50); fill: rgb(130, 215, 54);"></circle>-->
        <!--</svg>-->
        <!--<p class="marbleContent">-->
          <!--20</p></div>-->
      <div class="marbleRoot diagramMarble " data-marble-id="90754"
           style="display: inline-block; left: 19%; position: relative; cursor: ew-resize; width: 32px; height: 32px; bottom: calc((100% - 32px) / 2); margin: calc(-16px); z-index: 19;">
        <svg viewBox="0 0 1 1" style="overflow: visible; width: 32px; height: 32px;">
          <circle cx="0.5" cy="0.5" r="0.47" stroke-width="0.06px"
                  style="stroke: rgb(50, 50, 50); fill: rgb(255, 203, 70);"></circle>
        </svg>
        <p class="marbleContent">
          40</p></div>
      <div class="marbleRoot diagramMarble " data-marble-id="72239"
           style="display: inline-block; left: 30%; position: relative; cursor: ew-resize; width: 32px; height: 32px; bottom: calc((100% - 32px) / 2); margin: calc(-16px); z-index: 30;">
        <svg viewBox="0 0 1 1" style="overflow: visible; width: 32px; height: 32px;">
          <circle cx="0.5" cy="0.5" r="0.47" stroke-width="0.06px"
                  style="stroke: rgb(50, 50, 50); fill: rgb(255, 105, 70);"></circle>
        </svg>
        <p class="marbleContent">
          60</p></div>
      <div class="marbleRoot diagramMarble " data-marble-id="53724"
           style="display: inline-block; left: 45%; position: relative; cursor: ew-resize; width: 32px; height: 32px; bottom: calc((100% - 32px) / 2); margin: calc(-16px); z-index: 45;">
        <svg viewBox="0 0 1 1" style="overflow: visible; width: 32px; height: 32px;">
          <circle cx="0.5" cy="0.5" r="0.47" stroke-width="0.06px"
                  style="stroke: rgb(50, 50, 50); fill: rgb(62, 161, 203);"></circle>
        </svg>
        <p class="marbleContent">
          80</p></div>
      <div class="marbleRoot diagramMarble " data-marble-id="35209"
           style="display: inline-block; left: 60%; position: relative; cursor: ew-resize; width: 32px; height: 32px; bottom: calc((100% - 32px) / 2); margin: calc(-16px); z-index: 60;">
        <svg viewBox="0 0 1 1" style="overflow: visible; width: 32px; height: 32px;">
          <circle cx="0.5" cy="0.5" r="0.47" stroke-width="0.06px"
                  style="stroke: rgb(50, 50, 50); fill: rgb(130, 215, 54);"></circle>
        </svg>
        <p class="marbleContent">
          100</p></div>
    </div>
  </div>
  <div class="sandboxInputDiagram">
    <div class="diagramArrow"></div>
    <div class="diagramArrowHead"></div>
    <div class="marbleLocation">
      <div class="completionRoot diagramCompletion "
           style="left: 100%; display: inline-block; position: relative; width: calc(16px); height: 44px; margin: 0px calc(-8px); cursor: ew-resize;">
        <div class="completionInner"
             style="width: 2px; height: 50%; margin-left: calc(7px); margin-top: calc(11px); background-color: rgb(50, 50, 50);"></div>
      </div>
      <div class="marbleRoot diagramMarble " data-marble-id="51367"
           style="display: inline-block; left: 37%; position: relative; cursor: ew-resize; width: 32px; height: 32px; bottom: calc((100% - 32px) / 2); margin: calc(-16px); z-index: 37;">
        <svg viewBox="0 0 1 1" style="overflow: visible; width: 32px; height: 32px;">
          <circle cx="0.5" cy="0.5" r="0.47" stroke-width="0.06px"
                  style="stroke: rgb(50, 50, 50); fill: rgb(255, 105, 70);"></circle>
        </svg>
        <p class="marbleContent">
          1</p></div>
      <div class="marbleRoot diagramMarble " data-marble-id="93704"
           style="display: inline-block; left: 68%; position: relative; cursor: ew-resize; width: 32px; height: 32px; bottom: calc((100% - 32px) / 2); margin: calc(-16px); z-index: 68;">
        <svg viewBox="0 0 1 1" style="overflow: visible; width: 32px; height: 32px;">
          <circle cx="0.5" cy="0.5" r="0.47" stroke-width="0.06px"
                  style="stroke: rgb(50, 50, 50); fill: rgb(62, 161, 203);"></circle>
        </svg>
        <p class="marbleContent">
          1</p></div>
    </div>
  </div>
  <div class="operatorBox"
       style="border: 1px solid rgba(0, 0, 0, 0.06); padding: 22px; text-align: center; position: relative;">
    <div
      style="display: block; position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; box-shadow: rgba(0, 0, 0, 0.17) 0px 2px 10px 0px;"></div>
    <span class="operatorLabel"
          style="font-family: &quot;Source Code Pro&quot;, monospace; font-weight: 400; font-size: 2rem;">merge</span>
    <div
      style="display: block; position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; box-shadow: rgba(0, 0, 0, 0.26) 0px 2px 5px 0px;"></div>
  </div>
  <div class="sandboxOutputDiagram "
       style="user-select: none; overflow: visible; display: block; width: 100%; height: calc(96px); position: relative; cursor: default;">
    <div class="diagramArrow"></div>
    <div class="diagramArrowHead"></div>
    <div class="marbleLocation">
      <div class="completionRoot diagramCompletion "
           style="left: 100%; display: inline-block; position: relative; width: calc(16px); height: 44px; margin: 0px calc(-8px);">
        <div class="completionInner"
             style="width: 2px; height: 50%; margin-left: calc(7px); margin-top: calc(11px); background-color: rgb(50, 50, 50);"></div>
      </div>
      <div class="marbleRoot diagramMarble " data-marble-id="9269"
           style="display: inline-block; left: 1%; position: relative; cursor: default; width: 32px; height: 32px; bottom: calc((100% - 32px) / 2); margin: calc(-16px); z-index: 1;">
        <svg viewBox="0 0 1 1" style="overflow: visible; width: 32px; height: 32px;">
          <circle cx="0.5" cy="0.5" r="0.47" stroke-width="0.06px"
                  style="stroke: rgb(50, 50, 50); fill: rgb(130, 215, 54);"></circle>
        </svg>
        <p class="marbleContent">
          20</p></div>
      <div class="marbleRoot diagramMarble " data-marble-id="90754"
           style="display: inline-block; left: 19%; position: relative; cursor: default; width: 32px; height: 32px; bottom: calc((100% - 32px) / 2); margin: calc(-16px); z-index: 19;">
        <svg viewBox="0 0 1 1" style="overflow: visible; width: 32px; height: 32px;">
          <circle cx="0.5" cy="0.5" r="0.47" stroke-width="0.06px"
                  style="stroke: rgb(50, 50, 50); fill: rgb(255, 203, 70);"></circle>
        </svg>
        <p class="marbleContent">
          40</p></div>
      <div class="marbleRoot diagramMarble " data-marble-id="72239"
           style="display: inline-block; left: 30%; position: relative; cursor: default; width: 32px; height: 32px; bottom: calc((100% - 32px) / 2); margin: calc(-16px); z-index: 30;">
        <svg viewBox="0 0 1 1" style="overflow: visible; width: 32px; height: 32px;">
          <circle cx="0.5" cy="0.5" r="0.47" stroke-width="0.06px"
                  style="stroke: rgb(50, 50, 50); fill: rgb(255, 105, 70);"></circle>
        </svg>
        <p class="marbleContent">
          60</p></div>
      <div class="marbleRoot diagramMarble " data-marble-id="51367"
           style="display: inline-block; left: 37%; position: relative; cursor: default; width: 32px; height: 32px; bottom: calc((100% - 32px) / 2); margin: calc(-16px); z-index: 37;">
        <svg viewBox="0 0 1 1" style="overflow: visible; width: 32px; height: 32px;">
          <circle cx="0.5" cy="0.5" r="0.47" stroke-width="0.06px"
                  style="stroke: rgb(50, 50, 50); fill: rgb(255, 105, 70);"></circle>
        </svg>
        <p class="marbleContent">
          1</p></div>
      <div class="marbleRoot diagramMarble " data-marble-id="53724"
           style="display: inline-block; left: 45%; position: relative; cursor: default; width: 32px; height: 32px; bottom: calc((100% - 32px) / 2); margin: calc(-16px); z-index: 45;">
        <svg viewBox="0 0 1 1" style="overflow: visible; width: 32px; height: 32px;">
          <circle cx="0.5" cy="0.5" r="0.47" stroke-width="0.06px"
                  style="stroke: rgb(50, 50, 50); fill: rgb(62, 161, 203);"></circle>
        </svg>
        <p class="marbleContent"
           >
          80</p></div>
      <div class="marbleRoot diagramMarble " data-marble-id="35209"
           style="display: inline-block; left: 60%; position: relative; cursor: default; width: 32px; height: 32px; bottom: calc((100% - 32px) / 2); margin: calc(-16px); z-index: 60;">
        <svg viewBox="0 0 1 1" style="overflow: visible; width: 32px; height: 32px;">
          <circle cx="0.5" cy="0.5" r="0.47" stroke-width="0.06px"
                  style="stroke: rgb(50, 50, 50); fill: rgb(130, 215, 54);"></circle>
        </svg>
        <p class="marbleContent"
           >
          100</p></div>
      <div class="marbleRoot diagramMarble " data-marble-id="93704"
           style="display: inline-block; left: 68%; position: relative; cursor: default; width: 32px; height: 32px; bottom: calc((100% - 32px) / 2); margin: calc(-16px); z-index: 68;">
        <svg viewBox="0 0 1 1" style="overflow: visible; width: 32px; height: 32px;">
          <circle cx="0.5" cy="0.5" r="0.47" stroke-width="0.06px"
                  style="stroke: rgb(50, 50, 50); fill: rgb(62, 161, 203);"></circle>
        </svg>
        <p class="marbleContent"
           >
          1</p></div>
    </div>
  </div>
</div>
