<div class="main" *ngIf="hasData(); else info">
  <div class="list">
    <button type="button" (click)="clearData()">Clear data</button>
    <ul>
      <li *ngFor="let observable of keyValuesOfData()"
          (click)="observableSelectedInList(observable)"
          [class.selected]="observable?.key === observableSelected?.key">
        {{observable.value.name}}
      </li>
    </ul>
  </div>
  <div
    *ngIf="observableSelected;"
    class="sandboxRoot item">
    <div>
      <div *ngIf="observableSelected.value.standalone">
        <div *ngFor="let parentObs of observableSelected.value.obsParents">
          <div>The last stream of the '{{getParentObsName(parentObs)}}' stream</div>
          <app-marble-diagram (valueSelected)="valueSelectedEvent($event)"
                              [values]="getLastMarbleDiagram(parentObs)"></app-marble-diagram>
        </div>
      </div>
      <div *ngFor="let operator of observableSelected.value.operators">
        <app-operator [name]="operator.operatorName"></app-operator>
        <app-marble-diagram (valueSelected)="valueSelectedEvent($event)"
                            [values]="operator.values"></app-marble-diagram>
      </div>
    </div>
  </div>
  <div class="item item-value">
    <pre>
      {{valueSelected | prettyprint}}
    </pre>
  </div>
</div>
<ng-template #info>
  <div>The extension can be used to visualize streams in your application using marble diagrams. For the extension to work, this tab should be opened first, refresh your application afterwards.
    It will be possible to start recording whenever you please in a later phase (this is being developed right now). Please check our Github (https://github.com/kwintenp/rx-devtools) for more information and development.</div>
</ng-template>
