.tab-bar {
  background-color: #efefef;
  border-bottom: 1px solid #ccc;
  height: 26px;
}

.main {
  display: flex;
  height: 100vh;

  > .list {
    flex: 0 0 160px;
    background-color: #efefef;
    border-right: 1px solid #aaa;

    > .action-bar {
      border-bottom: 1px solid #ccc;
      height: 26px;
      padding-left: 4px;
      > .action-group {
        display: inline-block;
        &::after {
          content: "";
          margin-right: 1px;
          padding-left: 1px;
          border-left: 1px solid #ccc;
        }
      }
      > .action, > .action-group > .action {
        color: #666;
        display: inline-block;
        width: 26px;
        height: 26px;
        line-height: 26px;
        text-align: center;
        font-size: 15px;
        position: relative;
        > .badge {
          position: absolute;
          font-size: 10px;
          bottom: 4px;
          right: 5px;
          &.red {
            color: #d00;
          }
        }
        &:hover {
          color: #333;
        }
      }
    }

    > ul {
      list-style-type: none;
      display: block;
      margin: 2px 0;
      padding: 0;

      > li {
        &.tree-item {
          text-transform: uppercase;
          padding: 0 10px;
          white-space: nowrap;
          margin-top: 1px;
          color: rgb(92, 110, 129);
          text-shadow: rgba(255, 255, 255, 0.75) 0 1px 0;
          line-height: 18px;
          height: 18px;
        }
        &.observable {
          height: 35px;
          line-height: 35px;
          padding-left: 8px;
          overflow: hidden;
          text-overflow: ellipsis;
          &.selected {
            background-color: #3879D9;
            color: white;
          }
        }
      }
    }
  }

  > .visualisation {
    flex: 1 0;
    display: flex;
    > .stream-visualisation {
      font-size: 150%;
      overflow-y: scroll;
    }

    > .stream-value {
      overflow-y: scroll;
    }

    @media screen and (max-width: 999px) {
      flex-direction: column;
      > .stream-visualisation, > .stream-value {
        flex: 1 0;
        max-height: 50%;
      }
    }

    @media screen and (min-width: 1000px) {
      flex-direction: row;
      > .stream-visualisation, > .stream-value {
        flex: 1 0;
        max-height: 100%;
      }
    }
  }
}

.item-value {
  display: block;
}

.selected {
  background-color: rgb(130, 215, 54);
}
